html{
width: 100%;
padding: 0;
margin: 0;
overflow-x: hidden;
}
.text_danger{
  color: red;
}

.loader{
  position: fixed;
  z-index: 99;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(184, 172, 172, 0.653);
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader>img{
  width: 200px;
}

.loader.hidden{
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}
@keyframes fadeOut {
  100%{opacity: 0;
   visibility: hidden;
}
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
#prod_img{
  height: 120px;
  width: 100%;
}
@media (max-width: 768px) {
.company_name{
font-size: 20px;
position: relative;
left: -15px;
}
.mobile_cart{
  font-size: -15px !important;
}
}
/* ***********************************************************
main CARIUSEL
*********************************************************** */
#hero {
  width: 100%;
  height: 20em !important;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  position: relative;
}
#welcome_note{
  background: rgb(191,210,236);
background: linear-gradient(180deg, rgba(191,210,236,0.6502976190476191) 0%, rgba(106,188,111,1) 21%, rgba(0,59,5,1) 61%);
border-bottom-left-radius: 2em;
border-bottom-right-radius: 2em;
color: white;
margin-bottom: 1em;
}
/* ***********************************************************
MULTIPLE CARIUSEL
*********************************************************** */
@media (max-width: 768px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-start,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

@media (min-width: 768px) {
  .carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next,
.carousel-item-next:not(.carousel-item-start)
{
    transform: translateX(25%) !important;
  }

.carousel-inner .carousel-item-left.active, .carousel-item-prev:not(.carousel-item-end),
.active.carousel-item-start, .carousel-item-prev:not(.carousel-item-end)
{
    transform: translateX(-25%) !important;
}

.carousel-item-next.carousel-item-start {
  transform: translateX(0) !important;
}

.carousel-inner .carousel-item-prev,
.carousel-item-prev:not(.carousel-item-end)
{
    transform: translateX(-25%) !important;
  }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
  transform: translateX(0) !important;
}

/* ***********************************************************
Sidebar
*********************************************************** */
.lastest_product{
 height: 40em;
 overflow: scroll;
}
.lastest_product::-webkit-scrollbar {
  display: none;
}
.form-control{
  background: #e8f0feba !important;
  background-color: #e8f0feba !important;
}


/* ***********************************************************
Snack bar
*********************************************************** */
#cart_pop,
#whish_list_pop {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px; 
  color: #fff;
  text-align: center;
  border-radius: 10em;
  padding: 5px;
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 13px;
  border-radius: 10em !important;
  display: none;
}
#cart_pop{
  background-color: rgb(28, 170, 40);  
  font-weight: bolder;
 
}
#whish_list_pop {
  background-color: rgb(145, 140, 9);  
  font-weight: bolder;
 
}
#cart_pop.show_pop,
#whish_list_pop.show_pop {
  visibility: visible;
  display: block;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#wishlist_pop_sec >#cart_pop{
  min-width: 150px;
}
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

#cart_img{
  width: 100px;
}

.wishlist_img{
  width: 100px;
  height: 100%;
}

/* ***********************************************************
Order Tracking
*********************************************************** */
