<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title id="title_tag">Agrolyte</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <!-- Favicons -->
  <link href="static/img/logo.png" rel="icon">
  <link href="static/img/logo.png" rel="apple-touch-icon">
  <link rel="stylesheet" href="static/agrolyte.css">
</head>

<body>
  <div id="agrolyte"></div>
  <!-- JS -->

  <script src="static/js/jquery.min.js"></script>
  <script src="static/styles/mdb/mdb.min.js"></script>
  <script src="static/styles/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- <script src="static/styles/glightbox/js/glightbox.min.js"></script> -->
  <!-- <script src="static/styles/isotope-layout/isotope.pkgd.min.js"></script> -->
  <!-- <script src="static/styles/swiper/swiper-bundle.min.js"></script> -->
  <!-- <script src="static/styles/waypoints/noframework.waypoints.js"></script> -->
  <script src="static/js/scrollReveal.js"></script>
  <script src="static/js/agrolyte.js"></script>
  <!-- <script src="static/js/script.js"></script> -->


</body>

</html>